.lyricChord {
    white-space: pre-line;
    user-select: none;
    padding: 6px 3px;
    word-spacing: 3px;
    color: var(--dark-blue);
    width: 100%;

    /*height: 70vh;
   
   overflow-y: scroll;
  */
    span {
        width: 0;
        position: relative;
        top: -1em;
        display: inline-block;
        line-height: 2.5em;
        color: red;

        &::first-letter {

            text-transform: capitalize;
        }
    }
}